npm-debug.log
/.cache
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
*.jar
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.class

.target
# Package Files #
*.war
*.ear

#Typesafe Activator Crap
activator-sbt-*-shim.sbt

.envrc

server.pass.key
server.key
server.csr
server.crt

/node_modules
/build

/public/build/
/public/bootstrap.min.css
/public/bootstrap.min.js
/public/jquery.min.js
