
/* $lightblue: #a6cee3;
$darkblue: #1f78b4; */

.ActionsBoard {
  width: 800px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #1f78b4;
  border-spacing: 0px;
}

.ActionsBoard td,
.ActionsBoard th {
  border: 1px solid #1f78b4;
  margin: 0px;
  padding: 3px;
}
