/* $lightblue: #a6cee3;
$darkblue: #1f78b4; */

.ActionsBoard > tbody > tr > td,
.ActionsBoard > thead > tr > th {
  border: 1px solid #b2cfe2;
  margin: 0px;
  padding: 0px;
}

.ActionsBoard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  /* grid-auto-rows: minmax(100px, auto); */
  /* border-collapse: collapse;
  border: 1px solid #b2cfe2;
  border-spacing: 0px; */
  /* margin: 0; */
}

.ActionsBoard header {
}
.ActionsBoard header.tools {
  grid-column: 2/5;
}

.ActionsBoard section.action-summer {
  background-color: green;
  grid-column: 1/2;
}
.ActionsBoard section.action-winter {
  background-color: red;
  grid-column: 5/6;
}

.ActionsBoard section.tool-winter {
  grid-column: 3/5;
}
.ActionsBoard section.tool-both {
  grid-column: 2/5;
}
.ActionsBoard section.tool-summer {
  grid-column: 2/4;
}
.ActionsBoard section.double-row {
  grid-row-end: span 2;
  background-color: pink;
}

.ActionsBoard button {
  cursor: pointer;
  background-color: #7f7fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.ActionsBoard button[disabled] {
  background-color: #eee;
}
