
/* $lightblue: #a6cee3;
$darkblue: #1f78b4; */

.ActionsBoard > tbody > tr > td,
.ActionsBoard > thead > tr > th {
  border: 1px solid #b2cfe2;
  margin: 0px;
  padding: 0px;
}

.ActionsBoard {
  width: auto;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #b2cfe2;
  border-spacing: 0px;
  margin: 0;
}
