/* $lightgreen: #b2df8a;
$darkgreen: #33a02c; */


.PreparationsBoard,
.PreparationsBoard > thead > tr > th,
.PreparationsBoard > tbody > tr > td,
.PreparationsBoard > tfoot > tr > th {
  border-collapse: collapse;
  border: 1px solid #9ccf98;
  margin: 0px;
  padding: 3px;
}

.PreparationsBoard {
  margin: 10px 0;
}

.PreparationsBoard .glow {
  box-shadow: 0px 0 8px #088 inset;
}
