/* $lightgreen: #b2df8a;
$darkgreen: #33a02c; */

.PreparationsBoard,
.PreparationsBoard > thead > tr > th,
.PreparationsBoard > tbody > tr > td,
.PreparationsBoard > tfoot > tr > th {
  border-collapse: collapse;
  border: 1px solid #33a02c;
  margin: 0px;
  padding: 3px;
}
