
/* $lightblue: #a6cee3;
$darkblue: #1f78b4; */

.RoundBoard > tbody > tr > td,
.RoundBoard > thead > tr > th {
  border: 1px solid #e2cfb2;
  margin: 0px;
  padding: 3px;
}

.RoundBoard {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #e2cfb2;
  border-spacing: 0px;
  margin: 10px 0;
}
