.TableauLand {
  min-height: 50px;
  border: 1px solid #b2df8a;
  background-color: #e9f8dc;
}

.TableauLand.flooded {
  border: 1px solid #a6cee3;
  background-color: #dfecf3;
}

.TableauLand.moor_north,
.TableauLand.moor_south {
  border-color: #615324;
  background-color: #c4b78e;
}
.TableauLand.dmoor_north,
.TableauLand.dmoor_south {
  border-color: #837443;
  background-color: #d6cdad;
}

.TableauLand.moor_north,
.TableauLand.dmoor_north {
  border-bottom-width: 0;
}
.TableauLand.moor_south,
.TableauLand.dmoor_south {
  border-top-width: 0;
}
