.WorkerSpot {
  width: 100%;
  height: 100%;
  text-transform: capitalize;
}

.WorkerSpot.disabled {
  text-decoration: none;
  color: #ddd;
}

.WorkerSpot.clickable {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
